<div id="child-login" class="row content">
  <div class="col-12">
    <form (ngSubmit)="childCheck()">
      <div class="form-group row">
        <label for="childId" class="col-sm-6 col-form-label col-label text-right">今天來到：</label>
        <label for="childId" class="col-sm-6 col-form-label col-label text-left">{{ this.storeName }}</label>
      </div>
      <div class="form-group row">
        <label for="childId" class="col-sm-6 col-form-label col-label text-right">我的編號：</label>
        <label for="childId" class="col-sm-6 col-form-label col-label text-left">{{ this.childId }}</label></div>
      <div class="form-group row">
        <label for="childId" class="col-sm-12 col-form-label col-label text-center">↓ 請輸入學童密碼 ↓</label>
      </div>
      <div class="form-group">
        <!-- 密碼暫時顯示出來 -->
        <input type="text" name="childPwd" id="childPwd" class="form-control" placeholder="例如 123456" [(ngModel)]="childPwd">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">確　　定</button>
    </form>
  </div>
</div>
